<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <p>$message</p>
    #set( $unaVariable = "de definir una variable")
    Aca de otra forma $unaVariable
</body>
</html>