<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_sge?verifyServerCertificate=false
            &amp;useSSL=false&amp;serverTimezone=GMT</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.dialect" >utilidades.DateSubMySQLFunction</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">matias</property>

        <property name="show_sql">true</property>

        <property name="hibernate.transaction.coordinator_class">jdbc</property>

        <!-- Cambiar a update si no se quiere borrar todas las tablas, create para dropear y crear de nuevo-->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="modelos.usuarios.Cliente" />
        <mapping class="modelos.usuarios.Usuario" />
        <mapping class="modelos.usuarios.Administrador" />
        <mapping class="modelos.usuarios.Domicilio" />
        <mapping class="modelos.dispositivos.Categoria" />
        <mapping class="modelos.dispositivos.DispositivoInteligente" />
        <mapping class="modelos.dispositivos.DispositivoEstandar" />
        <mapping class="modelos.dispositivos.TipoDispositivo" />
        <mapping class="modelos.dispositivos.adaptadores.Adaptador" />
        <mapping class="modelos.dispositivos.adaptadores.AdaptadorEstandar" />
        <mapping class="modelos.dispositivos.adaptadores.AdaptadorAire" />
        <mapping class="modelos.reglas.reglas.Regla" />
        <mapping class="modelos.reglas.reglas.ReglaParaApagar" />
        <mapping class="modelos.reglas.condiciones.Condicion" />
        <mapping class="modelos.reglas.condiciones.CondicionMagnitudCalculable" />
        <mapping class="modelos.reglas.actuadores.Actuador" />
        <mapping class="modelos.reglas.sensores.Sensor" />
        <mapping class="modelos.reglas.sensores.SensorTemperatura" />
        <mapping class="modelos.dispositivos.ConsumoDispositivo" />
        <mapping class="modelos.enre.Transformador" />
        <mapping class="modelos.enre.Zona" />
    </session-factory>

</hibernate-configuration>
