<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_sge?verifyServerCertificate=false
            &amp;useSSL=false&amp;serverTimezone=GMT</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">matias</property>

        <property name="show_sql">true</property>

        <property name="hibernate.transaction.coordinator_class">jdbc</property>

        <property name="hbm2ddl.auto">create</property>

        <mapping class="modelos.usuarios.Cliente" />
        <mapping class="modelos.usuarios.Usuario" />
        <mapping class="modelos.usuarios.Administrador" />
        <mapping class="modelos.usuarios.Domicilio" />
        <mapping class="modelos.dispositivos.Categoria" />


    </session-factory>

</hibernate-configuration>
